<div class="form-floating mb-3">
  <input type="text" class="form-control" id="@key" placeholder="@parameter["title"]">
  <label for="@key">@parameter["title"]</label>
</div>

@code {

    [Parameter]
    public string key { get; set; }

    [Parameter]
    public JsonNode parameter { get; set; }

}
