body {
	margin:0px;
	height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	/* background: #1283da; */
}

nav{
    box-shadow: 10px 10px 37px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 5em;
}

footer{
    width: 100%;
}


.panel{
    padding: 1em;
    border-radius: 0.2em;
}


.form-check-input:checked {
    background-color: #5277ac;
    border-color: #5277ac;
}


#sessionnamebtnhome.active, #sessionnamebtnhome:hover, #sessionnamebtnhome{
	background: #648b6c;
}

#btndownload{
    background: #B4BFC5;
    border-color: #B4BFC5;
    font-size:17px;
	font-family:"Open Sans",sans-serif;
    margin-left: 2px;
    margin-right: 2px;
    height: 120px;
}