#camera-wrapper{
    display: flex;
    flex-direction: column;
}

#cards-wrapper{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.card-panel{
    background-color: rgb(248, 248, 248);
    background-attachment: fixed;
    background-position: top;
    background-size: contain;
    width: 40vw;
    height: 40vh;
    border-radius: 0.2em;
    box-shadow: 10px 10px 262px 41px rgb(244, 243, 253) inset;
    cursor: pointer;
    z-index: 0;
    transition: 100ms ease-in-out;
    border-style: solid;
    border-width: 0.1px;
    border-color: rgb(172, 169, 201);

}

/* .card-panel[selected="true"]{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50% ;
    z-index: 1;
    width: 90vw;
    height: 80vh;
    background-color: lightgray;
    background-blend-mode: multiply;
} */


.t-card{
    padding: 1em;
    color:black;
    display: flex;
    flex-direction: column;
    height: inherit;
    gap: 1em;
    justify-content: space-between;
}

.t-card textarea{
    background: transparent;
    border-color: rgb(172, 169, 201);
    color: black;
    width: 100%;
    height: inherit;
    padding: 15px;

    resize: none;
}

.parameters-holder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1em;
}

.center {
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
  
}
.left {
	height:100%;
	display:flex;
	align-items:left;
	justify-content:left;
  
}
.preview {
	width:350px;
	padding:20px;
	background:#fff;
	box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
				3px 3px 7px rgba(94, 104, 121, 0.377);
}

.preview img {
	width:100%;
	/* display:none; */
}

.form-input {
	width:350px;
	padding:20px;
}

.form-input input {
display:none;
}
  
.form-input label {
    display:block;
    width:45%;
    height:45px;
    margin-left: 25%;
    line-height:50px;
    text-align:center;
    background:#1172c2;
    color:#fff;
    font-size:15px;
    font-family:"Open Sans",sans-serif;
    text-transform:Uppercase;
    font-weight:600;
    border-radius:5px;
    cursor:pointer;
}

.form-button {
	width:350px;
	padding:20px;
}

.form-button input {
	display:block;
	width:45%;
	height:45px;
	margin-left: 25%;
	line-height:50px;
	text-align:center;
	background:#1172c2;
	color:#fff;
	font-size:15px;
	font-family:"Open Sans",sans-serif;
	text-transform:Uppercase;
	font-weight:600;
	border-radius:5px;
	cursor:pointer;
}

.switch {
	width:350px;
	padding:20px;
	font-family:"Open Sans",sans-serif;
	margin-left: 25%;
}

#firstpreview{
	display: none;
}

/* #preview-results{
	display: none;
} */

.card{
	margin-left : 25px;
	margin-right: 25px;
}

#results{
	display: block;
}


.nav-item{
    color: #5277ac;
}

a:link {
    color: #5277ac;

  }
  
  a:visited {
    color: #5277ac;
  }
  
  a:hover {
    color: #6482ac;
  }
  
  a:active {
    color: #5277ac;
  }


.form-check-input:checked {
    background-color: #5277ac;
    border-color: #5277ac;
}

#btnUploadIndex.active, #btnUploadIndex:hover{
	background: #5277ac;
    color: white;
}