h1 {
    color: #0d6efd;
}


#camera-wrapper{
    display: flex;
    flex-direction: column;
}

#cards-wrapper{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.card-panel{
    background-image: url("http://127.0.0.1:5154/Image/IMG20221129140627.jpg");
    background-attachment: fixed;
    background-position: top;
    background-size: contain;
    width: 40vw;
    height: 40vh;
    border-radius: 0.2em;
    box-shadow: 10px 10px 262px 41px rgba(0,0,0,1) inset;

}

.t-card{
    padding: 1em;
    color:white;
    display: flex;
    flex-direction: column;
    height: inherit;
    gap: 1em;
    justify-content: space-between;
}

.t-card textarea{
    background: transparent;
    color: white;
    width: 100%;
    height: inherit;

    resize: none;
}

.parameters-holder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1em;
}

.center {
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
  
}
.left {
	height:100%;
	display:flex;
	align-items:left;
	justify-content:left;
  
}
.preview {
	width:350px;
	padding:20px;
	background:#fff;
	box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
				3px 3px 7px rgba(94, 104, 121, 0.377);
}

.preview img {
	width:100%;
	/* display:none; */
}

.form-input {
	width:350px;
	padding:20px;
}

.form-input input {
display:none;
}
  
.form-input label {
    display:block;
    width:45%;
    height:45px;
    margin-left: 25%;
    line-height:50px;
    text-align:center;
    background:#1172c2;
    color:#fff;
    font-size:15px;
    font-family:"Open Sans",sans-serif;
    text-transform:Uppercase;
    font-weight:600;
    border-radius:5px;
    cursor:pointer;
}

.form-button {
	width:350px;
	padding:20px;
}

.form-button input {
	display:block;
	width:45%;
	height:45px;
	margin-left: 25%;
	line-height:50px;
	text-align:center;
	background:#1172c2;
	color:#fff;
	font-size:15px;
	font-family:"Open Sans",sans-serif;
	text-transform:Uppercase;
	font-weight:600;
	border-radius:5px;
	cursor:pointer;
}

.switch {
	width:350px;
	padding:20px;
	font-family:"Open Sans",sans-serif;
	margin-left: 25%;
}

#firstpreview{
	display: none;
}

/* #preview-results{
	display: none;
} */

.card{
	margin-left : 25px;
	margin-right: 25px;
}

#results{
	display: block;
}