

@if (algorithm != null) {
    <div class="main" id="@algorithm.Id">
        <div class="bar">
            <div>
                <h4>@algorithm.Name</h4>
                <p>@algorithm.Description</p>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" @bind="checkedValue" type="checkbox" role="switch" id="check-@algorithm.Id">
                <label class="form-check-label" for="check-@algorithm.Id"></label>
            </div>
        </div>

        <div id="collaps-@algorithm.Id" class="@visible">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
}

@code {
    [Parameter]
    public Algorithms? algorithm { get; set; }

    private bool checkedValue;
    private bool firstload = true;

    private string visible {
        get {
            if (checkedValue) {
                firstload = false;
                return "parameter-visible";
            } else {
                if (firstload) {
                    return "hidden";
                }
                return "parameter-collapse";
            }
        }

    }
}
