@inject HttpClient Http

@if (algos == null){
    <Loading/>
}
else {
    <div class="main">
        @foreach (var algo in algos)
        {
            <Algorithm algorithm=@algo/>
        }
    </div>
    
        
}


@code {
    private Algorithms[]? algos;

    protected override async Task OnInitializedAsync()
    {
        algos = await Http.GetFromJsonAsync<Algorithms[]>("http://127.0.0.1:5154/Algorithms");
    }

}
